*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


body {
  background-color: rgb(255, 255, 245) !important;
}
/* NAVIGATION BAR */

.profile-picture {
  width: 80%;
  border: .7rem solid #ffffff34;
  border-radius: 50%;
  height: 170px !important;
}

#sidebar {
  width: 250px;
  position: fixed;
  height: 100vh;
  z-index: 999;
  background: rgb(8, 88, 141) !important;
  color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sticky {

  position: fixed;
}

ul{
  list-style-type: none;
}

li{
  text-align: center;
}
a{
  color: rgb(141, 214, 248) !important;
  font-weight: 800;
  line-height: 3;
}


.container-fluid {
  padding-left: 260px !important;
}

h1 {
  font-family: 'Roboto';
  font-weight: 600 !important;
  font-size: 5rem !important;
}

span {
  font-family: 'Roboto';
  color: rgb(8, 88, 141);
}

i{
  margin-top: 2.5rem !important;
  margin-right: 2rem;
}

.icon{
  color: black !important;
  transition: .2s ease-in;
  padding: 5px;
  
}
.fb:hover {
  color: rgb(0, 117, 212);
}
.ig:hover {
  color: rgb(211, 67, 0);
}
.wp:hover {
  color: rgb(0, 144, 192);
}
.tw:hover {
  color: rgb(57, 205, 255);
}
.wp:hover {
  color: rgb(0, 158, 211);
}
.gt:hover {
  color: rgb(39, 20, 20) !important;
}
/* .icon:hover {
  color: rgb(0, 82, 158) !important;
} */


.line::after{
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: rgb(235, 235, 235);
  transition: width .3s;
  margin: auto;
  padding: 0;
}

.line:hover::after{
  width:100%;
}

.margin {
  margin-bottom: 5rem;
}

hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

hr.style4 {
	border-top: 1px dotted #8c8b8b2d;
}


/* SKILL BARS */

.html {
  width: 80%;
  background-color: 	#FF6347;
}
.css {
  width: 70%;
  background-color: 	#00BFFF;
}
.js {
  width: 30%;
  background-color: rgb(255, 255, 66);
  color: black !important;
}
.bootstrap{
  width: 50%;
  background-color: rgb(121, 215, 247);
}
.node{
  width: 10%;
  background-color: rgb(99, 168, 99);
}
.git {
  width: 50%;
  background-color: rgb(133, 122, 122);
}

.skill-container {
  width: 80%;
  background-color: #ddd;
  margin: auto;

}

.skill {
  text-align: right;
  padding: 10px;
  color: white;
}

@media screen and (max-width: 768px) { /* from tablet view and so on*/
  .container-fluid {
    padding-left: 0 !important;
  }
  #sidebar {
    width: 100vw;
    height: 10vh;
    position: fixed;

  }
  .profile-picture {
   display: none;
  }
  header > nav > ul {
    display:flex;
    margin-bottom: 0;
  }
  header > nav > ul > li {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  .w-100 {
    padding-top: 25% !important;
  }
  
}

@media screen and (max-width: 569px) { /* Iphone5/SE*/
  header > nav > ul > li {
    margin-right: 0.5rem;
    font-size: .8rem;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1024px) { /* ipad pro*/
  #sidebar {
    font-size: 1.2rem;
  }

}